* {
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    margin: 0;
    padding: 0%;
    /* background-color: #616161; */
}
#sk_navbar {
    /* border: 1px solid; */
    height: 55px;
    border-top: 5px solid rgb(0, 177, 255);
    border-bottom: 1px solid rgb(0, 177, 255);
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 37, 60);
}
#sk_icon img {
    /* border: 1px solid red; */
    width: 45%;
    height: 100%;
}
#sk_icon {
    /* border: 1px solid green; */
    width: 20%;
    display: flex;
    background-color: rgb(0, 37, 60);
}
#sk_sign {
    /* border: 1px solid; */
    height: 15px;
    padding: 4px;
    font-size: small;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #8e0099;
    border-radius: 8px;
    margin-top: 22px;

}
#sk_price {
    /* border: 1px solid; */
    height: 15px;
    color: #FFFFFF;
    background-color: rgb(0, 37, 60);
    margin-top: 26px;
    margin-left: 2px;
    font-size: small;
    font-weight: bolder;
}
#sk_name {
    /* border: 1px solid; */
    color: #00B1FF;
    font-size: small;
    font-weight: 600;
    height: 15px;
    margin-top: 26px;
    background-color: rgb(0, 37, 60);
}
#sk_body {
    /* border: 1px solid green; */
    width: 70%;
    margin: auto;
    margin-top: 10px;
    /* padding: 10px; */
    /* background-color: white; */
}
#sk_body h2 {
    color: #00253C;
}
#sk_covid {
    /* border: 1px solid; */
    background-color: #f0dcb4;
    color: #7a5505;
    padding: 10px;
    display: flex;
    border-left: 3px solid #7a5505;
    margin-top: 10px;
}
#sk_covid a {
    color: #7a5505;
    background-color: #f0dcb4;
}
#sk_covid p{
    margin-top: 2px;
    font-size: 15px;
    margin: 10px;
    background-color: #f0dcb4;
}
#sk_covid img {
    height: 20px;
    text-align: center;
    margin-right: 10px;
    margin-top: 8px;
    background-color: #f0dcb4;
}
#sk_cancel {
    /* border: 1px solid; */
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}
#sk_cancel img, #sk_lock img , #sk_protect img, #sk_top img{
    height: 25px;
    padding: 5px;
    margin: 5px;
    margin-top: 3px;
    /* background-color: #FFFFFF; */
}
#sk_1 {
    font-size: 13px;
    font-weight: bold;
    color: #1f1f1f;
}
#sk_2 {
    font-size: 13px;
    color: #616161;
}
#sk_lock {
    /* border: 1px solid; */
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    background-color: #FFFFFF;
}
#sk_lock p {
    /* border: 1px solid; */
    color: #0065b8;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    margin-left: 0;
}
#sk_room {
    /* border: 1px solid; */
    display: flex;
    margin: 10px;
    margin-bottom: 15px;
    padding: 15px 0px 30px 0px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#sk_room img{
    height: 22px;
    width: 25px;
    padding: 5px;
    margin: 5px;
    margin-top: 3px
}
#sk_room p {
    /* border: 1px solid; */
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}
#sk_nav ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 20px;
}
#sk_box {
    /* border: 1px solid red; */
    display: flex;
}
.sk_required {
    color: red;
}
label{
    font-size: 13px;
    color: #616161;
    font-weight: bold;
}
#sk_info {
    /* border: 1px solid; */
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sk_in input {
    height: 15px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 7px;
}
.sk_in {
    margin-right: 30px;
}
.sk_in1 {
    margin-bottom: 20px;
}
.sk_in1 input{
    height: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 7px;
    width: 50%;
}
select {
    padding: 7px;
    border-radius: 5px;
    font-size: large;
    margin-top: 7px;
    background-color: #f5f5f5;
    margin-right: 10px;
    margin-bottom: 10px;
}
#sk_protect {
    /* border: 1px solid; */
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#sk_recom {
    /* border: 1px solid; */
    display: flex;
}
#sk_recom h2 {
    margin-top: 5px;
    margin-left: 10px;
}
#sk_recom span {
    /* border: 1px solid; */
    height: 13px;
    padding: 4px;
    font-size: small;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #2f7000;
    border-radius: 7px;
    margin-top: 8px;
    margin-left: 10px;
}
#sk_important {
    border: 1px solid rgba(167, 166, 166, 0.822);
    border-radius: 5px;
    display: flex;
    font-size: 13px;
    color: #616161;
    font-weight: bold;
    padding: 10px;
}
#sk_important img {
    height: 20px;
    margin: 0;
    padding: 0;
    padding-right: 5px;
}
#sk_note {
    /* border: 1px solid; */
    margin: 10px 0px 30px 30px;
    padding-left: 30px;
    font-size: 13px;
    color: #616161;
}
#sk_note :first-child {
    margin-bottom: 10px;
}
#sk_note h3 {
    color: #1f1f1f;
    margin-bottom: 20px;
}
#sk_note li {
    margin-left: 14px;
    margin-bottom: 10px;
}
#sk_note ol + p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sk_s1 {
    /* border: 1px solid; */
    font-size: 17px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #edfae6;
}
.sk_s2 {
    /* border: 1px solid; */
    font-size: 17px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f5f5f5;
}
.sk_s2 + p {
    font-style: italic;
    margin-top: 20px;
}
#sk_pay {
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#sk_top, #sk_to {
    display: flex;
}
#sk_top p, #sk_last span + p {
    color: #2f7000;
    font-size: 13px;
    margin-top: 10px;
}
#sk_card {
    /* border: 1px solid; */
    padding-left: 50px;
}
#sk_card input {
    height: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 7px;
    width: 50%;
    margin-bottom: 10px;
}
#sk_confirm{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 20px;
}
#sk_confirm h2 {
    margin-bottom: 10px;
    color: #1f1f1f;
}
#sk_confirm h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
#sk_confirm p {
    font-size: 13px;
    color: #616161;
    margin-bottom: 10px;
}
#sk_confirm input {
    height: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 7px;
    width: 50%;
    margin-bottom: 10px;
}
#sk_last {
    margin: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#sk_last h3 {
    margin-bottom: 10px;
}
#sk_last ul {
    /* border: 1px solid; */
    color: #616161;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sk_last li {
    margin-bottom: 10px;
}
#sk_last span {
    /* border: 1px solid; */
    font-size: 13px;
    color: #616161;
}
#sk_to img {
    height: 15px;
    margin-top: 20px;
    /* background-color: #FFFFFF; */
}
#sk_to p {
    font-size: 13px;
    color: #616161;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#sk_last:last-child {
    font-size: 13px;
    color: #616161;
}
input[type = submit] {
    border-color: #b12747 #8f1f39 #8f1f39;
    background: #c4204b;
    background: linear-gradient(to top,#c4204b 0,#df3864 100%);
    color: #fff;
    height: 50px;
    font-weight: bolder;
    font-size: large;
    padding: 15px;
    border-radius: 5px;
    border: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.sk_close {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 7px;
    background-color: #f0dcb4;
}
#sk_right {
    /* border:1px solid blue; */
    height: max-content;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
#sk_cost,#sk_tax,#sk_total,#sk_depo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
#sk_right h2 {
    margin-top: 10px;
}
#sk_right h3 {
    margin-bottom: 25px;
}
#sk_cost, #sk_tax, #sk_depo {
    font-size: 15px;
}
#sk_depo + p {
    font-size: 13px;
    color: #616161;
    margin-top: -15px;
    margin-bottom: 30px;
}
#sk_right span {
    font-size: 15px;
    font-weight: bold;
}
#sk_right span + p {
    font-size: 15px;
    color: #616161;
    margin-top: 10px;
    margin-bottom: 20px;
}
#sk_right h6 {
    color:#616161;
}
@media screen and (min-width:900px) {
    
}