*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#mapDiv>iframe{
    width: 100%;
    height: 280px;
    border-radius: 15px;
    margin: auto;
}
#mapDiv{
    margin-top: 80px;
}
#address{
    font-size: 19px;
    /* font-weight: bold; */
    color: #616161;
    line-height: 23px;
    margin-left:15px ;

}


#n1,#n2,#n3{
    margin-left: 15px;
    line-height: 20px;
}
#nearby1,#nearby2,#nearby3{
    display: flex;
    font-size: 18px;
    color: #616161;
}

#secondNavbar{
    position: sticky;
    top: 0px;
    display: flex;
    width: 80%;
    margin: auto;
    /* margin-bottom: ; */
    border-bottom: 1px solid #c1bbbb;
    /* border: 1px solid black; */
}
#a{
    display: flex;
    margin: auto;
    margin-bottom: -12px;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 100%;
    
}
#reserveBtn{margin: auto;float: right;}
/* #navbarList,#reserveBtn{display: flex;justify-content: space-between;} */
#reserveBtn>button{
    
    right: 10px;
    color: white;
    cursor: pointer;
    border: none;
    float: right;
    background-color: rgb(216, 67, 91);
    font-weight: bold;
    border-radius:12px ;
    padding: 10px;

    margin: auto;
}

/* #navbarList{border-bottom: 3px solid;} */
/* #secondNavbar>div{display: flex;justify-content: space-between;width: 50%;margin: auto;border-bottom: 3px solid;} */
section{
    min-height:auto  ; 
    display: flex;
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
    /* border: 3px solid red; */
    /* font-size: 10px; */
    line-height: 30px;
    /* align-items: center; */
    /* justify-content: center; */
    color: rgb(0, 0, 0);
    padding-bottom: 70px;
    margin-top: 20px;
}
#navbarList>li>a{
    padding: 10px;
    text-decoration: none;
    color: #616161;

}
#navbarList>li>a:hover{
    border-bottom: 2px solid grey;
    color: #616161;
}
#navbarList>li>a.active{
    color: #007e8f;
    border-bottom: 2px solid #007e8f;
}
#gridImages>div>img{
    /* width: 100%; */
    width: 100%;
    height: 360px;
    margin: auto;
    /* gap: 10px; */
}
#gridImages{
    display: flex;
    gap: 3px;
    position: relative;
}
#imagePage>img{
    width: 70px;
    height: 65px;
}
#imagePage{
    position: absolute;
    right:10px;
    background-color: rgba(0, 0, 0, 0.45);
    bottom: 10px;
    border-radius:15px ;
}
#imagePage>img:hover{
    /* background-color: rgb(71, 68, 68); */
    border-radius:15px ;
    background-color: rgba(0, 0, 0, 0.70)
}
/* #gridImages{} */
#navbarList{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.contents ul{
    list-style: none;
    text-align: center;
    width: 100%;
    margin: auto;
    font-weight: bold;
    font-size: 17px;
   /* float: left; */
    
}
.contentHeading{
    /* line-height: 10px; */
    text-decoration: underline;
}
.contents{
    display: flex;
    text-align: left;
    line-height: 28px;
    width: 100%;
    text-transform: capitalize;
    /* margin-left: 15px; */
    text-align: center;
    /* border: 1px solid red; */
 }

#navbar{
     display: flex;
     /* border: 1px solid black; */
     
 }#navbar>h3>a{color: rgb(222, 31, 219);
     cursor: pointer;}
 #navbar>h3{margin-left: 50px;} ; 


 



