#allRooms{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
    /* border: 1px solid green; */
    gap: 10px;
    line-height:0px;
}
.roomImages{
    width: 100%; 
    height: 200px;  
}
.roomImages+h4{
    font-size: 19px;
    margin-left: 15px;
    line-height: 18px;
}


.features>p{
    font-size: 16px;
    line-height: 15px;
    /* font-weight: ; */
    margin-left: 15px;

}
#priceAndReserve{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
    margin-left: 15px;

}
#buttonReserve{
    /* padding: ; */
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius:3px;
    border: none;
    background-color: rgb(216, 67, 91);
    color: white;
    padding: 12px;
    /* margin-bottom: 5px; */
    font-size: 14px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 18px;
    
}
#buttonReserve:hover{
    background-color: rgb(179, 57, 77) ; 
    cursor: pointer;   
}
#ratingBox1>div:nth-child(1){
    font-size: 29px;
    /* border: 1px solid black; */
}
#ratingBox1{
    width: 35%;
    /* border: 2px solid black; */
    /* display: flex; */
}
#ratingBox11{
    display: flex;
}
#ratingBox2{
    width: 65%;
    /* border: 2px solid black; */
}
#reviews{
    width: 80%; 
    margin: auto;
    /* margin-left: 15px; */
}
#rev2{text-align: center;}
#rev1,#rev2{
    /* border: 1px solid black; */
    /* text-align: center; */
    margin-left: 15px;
}
.commentBox{
    /* margin-left: 25px; */
    line-height: 20px;
    border-bottom: 1px solid grey; /*Dont Remove*/
    
}
.commentBox>h3,p,span{
    margin-left: 25px;
}
#ratingBox12{
    margin-top: 55px;
}
#nearbyPlaces{
    width: 40%;
    /* border: 1px solid black; */
}
#mapLocation>iframe{
    width: 100%;
    height: 500px;
    /* margin: auto; */
}
#mapLocation{
    width: 60%;
    margin: auto;
    /* border: 1px solid black; */
}
#location{
    width: 80%;
}
#nearbyPlaces{
    margin-left: 19px;
    line-height: 18px;
}
#listNearby>ul>li{
    font-size: 18px;
    font-weight: bold;
}
#n11,#n22,#n33{
    margin-left: 15px;
    line-height: 1px;
}
#nearby11,#nearby22,#nearby33{
    display: flex;
    font-size: 18px;
    line-height: 1px;
    color: #616161;
}
#amentitiesBox1{
    width: 35%;
    margin-left: 20px;
    /* border: 1px solid black; */
}
#amentitiesBox2{
    width: 35%;
    margin-left: 20px;
    /* border: 1px solid black; */
}
#amentitiesBox1>h3{
    margin-left: 20px
}
#amentitiesBox2>h3{
    margin-left: 20px;
}
#amentitiesBox1{
    line-height: 25px;
}
#amentitiesBox1>ul{
    color:#616161 ; 
}
#amentitiesBox2>ul{
    color:#616161 ; 
}
#A1{
    width: 30%;
    /* border: 1px solid black; */
    margin-left: 20px;
}
#policeHeading{
    width: 30%;
    /* border: 1px solid black; */
    margin-left: 20px;
}
#policyInstructions{
    width: 70%;
    /* border: 1px solid black; */
    margin-left: 20px;
}
#policyInstructions p{
    color: #616161;
    line-height: 18px;
}
#policyInstructions>h3{
    margin-left: 20px;
}
#viewInMap>a{
    color: #616161;
    font-size: 15px;
} 
#viewInMap>a:hover{
    color: teal;
    text-decoration: underline;
    cursor: pointer;
}