*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    background-color: #f5f5f5;
}
#vs-allcontains{
    background:#f5f5f5;
}
.vs-sub-container>h2{
    font-size: 28px;
    margin-left: 12px;
}
/* **********NAVBAR STYLE STARTS HERE************ */
#vs-navbar{
    background-color: #00253c;
    height: 72px;
    display: flex;
    align-items: center;
}
#vs-nav-main-con{
    display: flex;
    
    align-items: center;
    width: 1248px;
    margin: auto;
    /* padding: 0 8px 0 24px; */
}
#vs-nav-sub-con-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1248px;
    margin: auto;
    padding: 0 8px 0 24px;
}
#vs-nav-sub-con-1>div{
display: flex;
align-items: center;
}
#vs-nav-sub-con-1>div>a{
    padding: 8px 24px 8px 0;
}
#vs-nav-more>div>button{
display: flex;
align-items: center;
background-color:#00253c;
color: white;
border: none;
padding: 4px 16px;
font-size: 14px;
}
#vs-nav-more>div>button:hover{
    color: #007E8F;
    cursor: pointer;
}
#vs-nav-more>div>button>div{
    margin-right: 12px;
    font-weight: 500;
}
#vs-nav-more>div>button>img{
    filter: brightness(0) invert(1);
    width: 8px;
    
}
#vs-nav-sub-con-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#vs-nav-sub-con-2>div{
    padding: 4px 16px;
}
#vs-nav-sub-con-2>div>a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
#vs-nav-sub-con-2>div:hover a{
    color: #007E8F;
    cursor: pointer;
}
/* **********HERO SECTION STYLE STARTS HERE************ */
#vs-hero{
    height: 485px;
    background: center / cover no-repeat url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh") ;
    margin-bottom: 35px;
    
}
#vs-main-con{
    padding: 1.5rem;
    /* display: flex;
    justify-content: center; */
    width: 1248px;
    height: 340px;
    margin: auto;


}

#vs-main-con>div{
height: 292px;
padding: 0 24px 32px;
background-color: white;
}
#vs-main-con>div>div>ul{
    /* box-shadow: 0 1px 0 0 #c7c7c7; */
    border-bottom: .5px solid #c7c7c7;
    
    padding-top: 12px;
    /* height: 44px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#vs-li-default{
    border-bottom: 2px solid #007E8F;
    color: #007E8F;
    /* padding: 0 16px; */

}
#vs-li-default>span{
    color: #007E8F;
}
#vs-main-con>div>div>ul>li:hover{
    border-bottom: 2px solid #007E8F;
    color: #007E8F
}
#vs-main-con>div>div>ul>li{
    list-style: none;
    /* border-bottom: 2px solid #616161; */
    height: 44px;
    font-size: 14px;
    color: #616161;
    font-weight: 500;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#vs-upper-sec{
    margin-top: 12px;
    display: flex;
    align-items: center;
    padding: 12px 24px 0 24px;
}
#vs-hero-b1{
    background: none;
    border: 1px solid #999999c5;
    width: 453px;
    display: flex;
    height: 48px;
    align-items: center;
    margin-right: 12px;
    position: relative;
}
#vs-upper-sec>button>img{
    filter: brightness(80%) invert(.4);
    padding: 12px;
}

#vs-upper-sec>button>div>p{
    color: #616161;
}
#vs-hero-b1>img{
    filter: brightness(80%) invert(.4);
    padding:0 12px;
}
#vs-hero-b1>p{
    font-size: 16px;
    color: #616161;
}
#vs-hero-b1:hover,#vs-hero-b2:hover,#vs-hero-b3:hover,#vs-hero-b4:hover{
cursor: pointer;
}
/* search bar div container style here */
/* #vs-search-container{
    /* display:none;   */
/* border: 1px solid black; */
/* width: 455px;
position: relative;
background-color: white;
top: 47px;
left: -2px; */
/* min-height: 440px; */
/* border-radius: 8px; */
/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
/* } */ 

#displayDebounce{
 width: 455px;
position: absolute;
background-color: white;
top: 48px;
left: 0px;
font-weight: bold;
line-height: 25px;
border-radius: 8px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#displayDebounce p:hover{
    color: #616161;
}
#search{
    height: 46px;
    width: 404px;
    border-style: none;
}
#vs-search-container>input{
    border-style: none;
    outline: none;
    width: 420px;
    height: 60px;
    font-size: 30px;
    border-bottom:1px solid #72727254;
    background-color: white;

    
}
.vs-hidden{
    display: none;
}

/* search style ends here */
#vs-hero-b2{
width: 174px;
height: 48px;
margin-right: 12px;
display: flex;
background: none;
    border: 1px solid #999999c5;
    align-items: center;
}
#vs-hero-b2>div>#vs-check-in,#vs-hero-b3>div>#vs-check-out,#vs-hero-b4>div>#vs-travelers{
    font-size: 16px;
    color: #1f1f1f;
    
}
#vs-hero-b3{
    width: 174px;
    height: 48px;
    margin-right: 12px;
    display: flex;
    background: none;
    border: 1px solid #999999c5;
    align-items: center;
}
#vs-hero-b4{
    width: 267px;
    height: 48px;
    background: none;
    border: 1px solid #999999c5;
    align-items: center;
    display: flex;
}
.vs-hero-start{
    align-self: flex-start;
    display: flex;
}

#vs-middle-sec{
    padding: 12px 24px;
    display: flex;
    
    align-items: center;
}
#vs-middle-sec>input{
    background: #FFFFFF;  
    margin: calc((1.125rem - 1.125rem) / 2) 0.5rem;
    height: 1.125rem;
    border: 2px solid #999999;
    width: 1.125rem;

}
#vs-lower-sec{
    padding: 12px 0 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vs-submit{
    background-color: #C83259;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 2px;
    width: 171px;
    height: 48px;
    border: none;
    
    font-size: 16px;
}
#vs-submit:hover{
   cursor: pointer;
    background-color: #c8325aea;
}
/* **********MAIN CONTAINER STYLE STARTS HERE************ */


#vs-main{
    margin: auto;
    width: 1224px;
    /* border: 1px solid black; */
    background:#f5f5f5;
}

.vs-sub-container{
    padding: 12px 0;
}


/* ************FIRST CONTAINER SYTLE STARTS HERE    TRAVEL, BOOK, GET INSIDER************* */
#vs-first{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#vs-first>#vs-1{
    width: 384px;
    height: 164.56px;
    margin: 12px 12px;
    
    background: linear-gradient(rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089), rgba(0, 0, 0, 0.452)),url("https://forever.travel-assets.com/flex/flexmanager/images/2022/02/09/ORB_BrandPromise_TravelAsYouAre_imgB_840x473_20220207.jpg?impolicy=fcrop&w=384&h=165&q=medium") ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto;
    
    
}
#vs-first>#vs-2{
    width: 384px;
    height: 164.56px;
    margin: 12px 12px;
    
    background: linear-gradient(rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089), rgba(0, 0, 0, 0.384)),url("https://forever.travel-assets.com/flex/flexmanager/images/2022/02/09/ORB_BrandPromise_Rewards_imgB_840x473_20220207.jpg?impolicy=fcrop&w=384&h=165&q=medium") ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto;
    
    
}
#vs-first>#vs-3{
    width: 384px;
    height: 164.56px;
    margin: 12px 12px;
    
    background: linear-gradient(rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089), rgba(0, 0, 0, 0.384)),url("https://forever.travel-assets.com/flex/flexmanager/images/2022/02/09/ORB_BrandPromise_InsiderPrices_imgB_840x473_20220207.jpg?impolicy=fcrop&w=384&h=165&q=medium") ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto;
    
    
}
/* #vs-first>div>a>img{
    position: relative;
    z-index: -1;
    background: linear-gradient(rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089), rgba(0, 0, 0, 0.384));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2022/02/09/ORB_BrandPromise_TravelAsYouAre_imgB_840x473_20220207.jpg?impolicy=fcrop&w=600&h=257&q=medium") ;
    width: 384px;
    height: 164.56px;
    
    
} */


/* ************SECOND CONTAINER SYTLE STARTS HERE  FEATURED OFFERS  ************* */

#vs-heading{
    padding: 12px;
    font-size: 28px;
    font-weight: bold;
}
#vs-offers-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,1fr);
    gap: 12px;
    padding: 0 12px;
    
    
}
#vs-offers-1{
background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&w=282&h=188&q=mediumHigh");
 width: 282px;
    height: 188px;

}
#vs-offers-2{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&w=282&h=188&q=mediumHigh");
     width: 282px;
    height: 188px;
}
#vs-offers-3{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&w=282&h=188&q=mediumHigh");
     width: 282px;
    height: 188px;
}
#vs-offers-4{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&w=282&h=188&q=mediumHigh");
     width: 282px;
    height: 188px;
}
.vs-offers-dis{
    color: white;
  margin-top: 123px;
    margin-left: 12px;
   
}
.vs-offers-dis>h3,.vs-offers-dis>p{
    text-shadow: 2px 2px 2px #5c5c5c;
}

/* ************THIRD CONTAINER SYTLE STARTS HERE************* */
#vs-explore-con{
display:flex ;
margin: 30px 12px;

}
#vs-explore-img{
   height: 262px;
}
#vs-explore-img>img{
    height: 100%;
}
#vs-explore{
   
    width: 900px;
    height: 262px;
    margin-right: 12px;
    /* margin-left: 12px; */
    /* background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/09/25/15ORB_GeoTargeted_Chicago_mrq_1320x742_20200525.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh");
    background-position: 0, 0;
    background-size:auto; */
    background: linear-gradient(rgba(9, 12, 37, 0.603),rgba(255, 255, 255, 0.089),rgba(255, 255, 255, 0.089), rgba(11, 15, 59, 0.603)),url("https://forever.travel-assets.com/flex/flexmanager/images/2020/09/25/15ORB_GeoTargeted_Chicago_mrq_1320x742_20200525.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh") center ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto;
    /* rgba(255, 255, 255, 0.089), */
}
#vs-explore>div{
    color: white;
    margin-top: 204px;
    margin-left: 12px;
}

/* ************FOURTH CONTAINER SYTLE STARTS HERE************* */

#vs-help-h2{
    margin-left: 12px;
    margin-bottom: 20px;
    font-size: 28px;
}
#vs-help-con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    gap:12px;
    margin: 12px;
}
.vs-help-sub-con{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 12px;
    width: 392px;
    height: 72px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    background-color: white;
    color: #1f1f1f;
}
.vs-help-sub-con h3{
    font-size: 17px;
}
.vs-help-sub-con p{
    color:#616161;
    font-size: 12px;
    line-height: 27px;
}

/* ************FIFTH CONTAINER SYTLE STARTS HERE************* */
#vs-traveling-con{
    display: flex;
    align-items: center;

}
.vs-traveling-sub-con{
    width: 588px;
    height: 252px;
    margin: 12px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 36px;
}
#vs-traveling-sub-1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_NationalParks_imgB_1199x399_20211117.jpg") center ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size:cover;
}
#vs-traveling-sub-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_RoadTrips_imgB_1199x399_20211117.jpg") center ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size:cover;
}

/* #vs-traveling-con{
    margin-bottom: 12px;
} */
.vs-traveling-sub-con>div>h3{
    font-size: 1.4rem;
}
.vs-traveling-sub-con>div>p{
    padding-top: 12px;
}
.vs-traveling-sub-con>div>a>button{
    padding: 4px 16px 5px 16px;
    margin: 12px 0;
    font-size: 16px;
    color: #007E8F;
    font-weight: 500;
    
    border-radius: 2px;
    
    border: 1px solid #c7c7c7;
    background-color: #FFFFFF;

    
}


/* ************SIXTH CONTAINER SYTLE STARTS HERE************* */

#vs-advertize{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 162px;
}


/* ************SEVENTH CONTAINER SYTLE STARTS HERE************* */
#vs-app{
    margin: 12px;
    height: 346px;
    border: 1px solid #6161616e;
    display: flex;
    /* align-items: center */
}
#vs-app-img>img{
    /* box-sizing: border-box; */
    width: 400px;
    /* overflow-x: hidden; */
    height: 344px;
}
#vs-app-details{
    display: flex;
    background: #FFFFFF;
    padding: 24px;
    
}
#vs-app-details>div>div>h2{
    margin: 0;
    line-height: 34px;
    font-size: 28px;
}
#vs-app-details ul{
    padding: 12px 16px 0 0;
}
#vs-app-details ul>li{
    font-size: 14px;
    color: #616161;
    line-height: 24px;
    list-style: none;
    /* padding-left: 5px; */

}
.vs-app-span::before{

    content:"\2022";
}
.vs-app-span{
    width: 24px;
    height: 18px;
    display: inline-block;
}
#vs-app-text{
padding: 20px 0 12px;
color: #1f1f1f;
}
#vs-app-text+div{
padding-bottom: 12px;
}
#vs-app-btn{
    background-color: #C83259;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 2px;
    width: 171px;
    height: 48px;
    border: none;
    
    font-size: 16px;
}
#vs-app-btn:hover{
    background-color: #c8325aea;
}
#vs-app-p{
    font-size: 12px;
    color: #616161;
    width: 553px;
}
#vs-barcode>img{
width: 154px;
height: 154px;

}
#vs-barcode>h3{
    font-size: 14px;
    text-align: center;
}

/* ************SEVENTH CONTAINER SYTLE STARTS HERE************* */
#vs-more-destinations{
    height: 172px;
    padding: 12px;
}
#vs-more-h2>{
    font-size: 28px;
    margin-left: 12px;
    color: #1f1f1f;
}
#vs-options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);

}
#vs-options>div{
    padding-top: 12px;
    padding-right: 12px;

}
#vs-options>div>button{
    padding: 12px;
    width: 392px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;

}
#vs-options>div>button>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
}
/* #vs-options>div>button>div{
    width: 127px;
} */
#vs-options>div>button>div>span{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #1f1f1f;
}
#vs-options>div>button>div>img{
    width: 9px;
}


/* ************FOOTER SYTLE STARTS HERE************* */


/* #vs-footer{
    padding: 12px 8px;
}
#vs-footer hr{
    border: 0;
    border-top: 1px solid #e0e0e0;
    clear: both;
    display: block;
    height: 1px;
    margin: 0.938rem 0 1rem;
    padding: 0;
} */
/* #vs-footer-con{
    width: 1224px;
    margin: auto;
    padding: 24px 12px; */
    /* background-color: #f5f5f5; */

/* } */
/* #vs-footer-ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);

} */

/* #vs-footer-ul li{
    
    list-style: none;
    padding-top: 8px;
    width: 230.4px;
    
}
#vs-footer-ul li>div:hover{
    text-decoration: underline;
    cursor: pointer;
} */
/* #vs-footer-ul li>h2{
    font-size: 14px;
}
#vs-footer-ul li a{
    text-decoration: none;
    font-size: 12px;
    color:#007E8F;
} */
/* #vs-bottom-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
} */
/* #vs-bottom-ul>li{
    list-style: none;
    margin-top: 8px;
    font-size: 12px;
    color: #616161;
} */